.fs-4 {
  color: #000000;
}

.nav-item a {
  color: #000000;
  text-decoration: none;
}

.profile {
  border-radius: 50px;
  border: 2px #000000;
}

.container {
  display: block;
  margin: 0 auto;
}

h1.projects {
  text-align: center;
}

.btn-primary {
  display: block;
}

header.d-flex {
  background: #ffffff;
}

.active {
  background: #000000 !important;
}

.btn-primary {
  background: #000000;
  color: #ffffff;
  border: none;
}

.btn-primary:hover {
  background: #6c757d;
  color: #ffffff;
}

@media (max-width: 500px) {
  .profile {
    display: block;
    margin: 0 auto;
    border: 10px solid #6c757d;
  }
}
